module.exports = {
  apps: [
    {
      name: 'ai-tools-nav',
      script: './.output/server/index.mjs',
      instances: 1,
      exec_mode: 'fork',
      env: {
        NODE_ENV: 'production',
        PORT: 3000,
        HOST: '127.0.0.1'
      },
      max_memory_restart: '800M'
    }
  ]
}
